body {
  font-family: "Android 101", Arial, Helvetica, sans-serif;
  background: #222;
  margin: 0;
  font-size: 20px;
  line-height: 1.5;
}

main {
  padding: 1rem 2rem;
  background: #eee;
  color: #222;
  width: 85rem;
  margin: 0 auto;
}

h3 {
  margin: 4rem 0 2rem 0;
}

.font-powerline {
  font-family: "Source Code Pro Powerline", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.font-powerline-bold {
  font-family: "Source Code Pro Powerline", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.swatch::before {
  content: " ";
  display: inline-block;
  height: 5.5rem;
  width: 5.5rem;
  margin-right: 1rem;
  float: left;
}

.swatch-onyx-darken-1::before {
  background: #151515;
}

.swatch-onyx::before {
  background: #222;
}

.swatch-serenity::before {
  background: #eee;
  border: 1px inset #222;
}

.swatch-serenity-darken-1::before {
  background: #ccc;
}

.logo-xsmall {
  width: 2rem;
}

.logo-small {
  width: 5rem;
}

.logo {
  width: 10rem;
}

.logo-large {
  width: 20rem;
}

.logo-xlarge {
  width: 40rem;
}
