body {
  font-family: "Android 101", Arial, Helvetica, sans-serif;
  background: #222;
  margin: 0;
  font-size: 16px;
}

header {
  padding: 1rem;
  font-size: 1.5rem;
  color: #eee;
  background: #151515;
}

#clock-hours,
#clock-minutes {
  display: inline-block;
  text-align: center;
  width: 2.25rem;
}

.clock-dots {
  animation: clock-dots 2s infinite linear;
}

@keyframes clock-dots {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

#logo {
  width: 70vw;
  max-height: 70vh;
  margin: 10vh auto 0 auto;
}
#logo svg {
  animation: logo-rotation 20s infinite linear;
}

@keyframes logo-rotation {
  0% {
    transform: rotateY(0deg);
  }
  75% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
